body{
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-desk{
    color: #0D2F81;
    display: block;

}

.menu-mobile{
    display: none;

}

.headbanner{
    height: 300px;
    background: linear-gradient(to bottom, white, #0D2F81);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline{
    color: azure;
    font-size: 40px;
    font-weight: bolder;
    -webkit-text-stroke: 3px #0D2F81;

}

.list{
    display: flex;
    justify-content: center;

}

.event{
    flex: none;
    height: 50px;
    width: 580px;
    margin: 10px;
    margin-top: 20px;
    background-color: #6E7EB2;

}

.display-middle{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);

}

.text1{
    color: azure;
    font-weight: bold;
    position: relative;
    top: 5px;

}

.text2{
    color: azure;
    font-weight: bold;
    text-align: center;

}

.pic{
    flex: none;
    width: 280px;
    margin: 10px;
    text-align: center;
    background-color: #6E7EB2;

}

@media (max-width: 1200px){
    .list{
        width: auto;
        flex-wrap: wrap;
    
    }

    .event{
        width: 45%;
    }

    .pic{
        width: 45%;
    }
}

@media (max-width: 600px){
    .menu-desk{
        display: none;

    }
    .menu-mobile{
        display: block;

    }

    .headline{
        font-size: 25px;
        color: azure;
        -webkit-text-stroke: 1px azure;

    }

    .event{
        width: 90%;
    }

    .pic{
        width: 90%;
    }
}